# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Data files (these will be mounted as volumes)
jira_logger/data/jira_issues/*
jira_logger/data/jira_raw_responses/*
!jira_logger/data/jira_issues/__init__.py
!jira_logger/data/jira_raw_responses/__init__.py

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentation
README.md
LICENSE
